.body {
    text-align: center;
    overflow: scroll;
}

.center {
    width: 50%;
    margin: 0 auto;
}

.centerGitSteps {
    width: 70%;
    margin: 0 auto;
    margin-left: 25% ;
}

.centerDiv {
    text-align: center;
    width: 50%;
}

/* game01 */
#game01Board {
    font-size: 8em;
}

#game02Board {
    font-size: 6em;
}

.fibonacciResponse {
    white-space: pre-wrap;
    max-width: 100%;
    overflow-wrap: break-word;
}


.gitLabel {
    font-size: 1.2em;
    font-weight: bold;
}

.centerInput {
    text-align: center;
}

.buttonMarginLeft {
    margin-left: 50%;
}


.gitStepsTr{
    border-top: 30px solid transparent;
    border-bottom: 30px solid transparent;
}

.centered{
    align-content: center;
}


.rightDivcenter {
       margin-left: 5%;
       display: flex;
       align-items: center;
       justify-content: center;
}


#gitStepsTable td {
       text-align: left;
       padding-right: 70px;
}


.shadowDiv {
    box-shadow: rgba(50, 50, 93, 0.25) 0px 50px 100px -20px, rgba(0, 0, 0, 0.3) 0px 30px 60px -30px, rgba(10, 37, 64, 0.35) 0px -2px 6px 0px inset;
    padding-bottom: 80px;
}

