.body {
    text-align: center;
    overflow: scroll;
}

.center {
    width: 50%;
    margin: 0 auto;
}

.centerGitSteps {
    width: 70%;
    margin: 0 auto;
    margin-left: 25% ;
}

.centerDiv {
    text-align: center;
    width: 50%;
}

/* game01 */
#game01Board {
    margin-top: 150px !important;
    font-size: 8em;
}

/* game02 */
#game02Board {
    margin-top: 150px !important;
    font-size: 6em;
}

.fibonacciResponse {
    white-space: pre-wrap;
    max-width: 100%;
    overflow-wrap: break-word;
}


.gitLabel {
    font-size: 1.2em;
    font-weight: bold;
}

.centerInput {
    text-align: center;
}

.buttonMarginLeft {
    margin-left: 50%;
}


.gitStepsTr{
    border-top: 30px solid transparent;
    border-bottom: 30px solid transparent;
}

.centered{
    align-content: center;
}


.rightDivcenter {
       margin-left: 5%;
       display: flex;
       align-items: center;
       justify-content: center;
       top: 50px;
}


#gitStepsTable td {
       text-align: left;
       padding-right: 70px;
}

